{% extends 'base.html.twig' %}
{% block body %}

 <div class="container"><h3 class="display-3">Bestellingen</h3>
    <table class="table table-responsive-md ">
    <thead>
        <tr>

            <th ><h5 class="display-5">afhaaldatum</h5></th>
            <th><h5 class="display-5">bestellingen</h5></th>
            <th></th><th></th>
        </tr>
    </thead>
    {% for b in bestellingen %}
       <tr>
        <td ><b>{{ b.afhaaldatum|date('d-m-y') }}: {{ b.klant }}</b></td>
        <td><table class="table2">
            {% for br in b.bestelregels %}
                    <tr>   <td>
                        {{ br.aantal }} liter {{ br.recept.naam }}
                    </td></tr>
            {%  endfor %}
            </table>
        </td>
       </tr>
    {%  endfor %}
    </table>

{% endblock %}