{% extends 'base.html.twig' %}
 {% block navbar %}
     {% include 'admin/menu.html.twig' %}
 {% endblock %}
{% block body %}
    <h1>Welkom bij Venezia ijs-groothandel</h1>

   <p>Bij Venezia kunt u grote hoeveelheden ijs bestellen, gemaakt van vers fruit, dat seizoengebonden is. Exotisch fruit is op bestelling.
   </p>


{% endblock %}
