{%  extends 'base.html.twig' %}
{% block body %}

    <h2> user die is ingelogd:</h2>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Username: {{ app.user.username }}</p>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ app.user.username }}
        {% endif %}
    <a href="logout" />log uit </a>

{% endblock %}