{% extends 'base.html.twig' %}
{% block navbar %}
    {% include 'bezoeker/menu.html.twig' %}
{% endblock %}
{% block body %}
    <h1>Recepten overzicht</h1>

    <table class="table table-striped ">
        <thead >
            <tr >

                <th  class="col-md-3">Beschrijving</th>
                <th class="col-md-3">Prijs per liter</th>

            </tr>
        </thead>
        <tbody>
        {% for recept in recepts %}
            <tr>

                <td class="col-md-3">{{ recept.naam }}</td>
                <td class="col-md-3"> &euro; {{ recept.kostenPerLiter|number_format(2, ',', '.') }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
