{% extends 'base.html.twig' %}
 {% block navbar %}
     {% include 'ijsmaker/menu.html.twig' %}
 {% endblock %}
{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>U bent ingelogd als ijsmaker. </h1>
    <p>U kunt hier de recepten vinden en de bestellingen voor ijs.</p>

   <p>Bij Venezia kunt u grote hoeveelheden ijs bestellen, gemaakt van vers fruit, dan seizoengebonden is. Exotisch fruit is op bestelling.
   </p>


{% endblock %}
