<footer>
    <div class="col-md-12 text-center">

        Adres: Laan van Meerdervoort 596, 2563 BN Den Haag
        Telefoon: 070 363 6993

        <a href="https://www.facebook.com/laveneziadordrecht.nl">
            <img  src="{{ asset('img/facebook.png') }}" alt="laveneziadordrecht.nl"  class="rounded"/>
        </a>
        <a href="https://twitter.com/ijssalonvenezia"><img src="{{ asset('img/twitter.jpg') }}" class="rounded"></a>
    </div>
</footer>

