{% extends 'ijsmaker/index.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-6 col-sm-12">
        <h1>Wachtwoord wijzigen</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
